
#profile-account{
  .col-title{
      font-weight: bold;
      font-size: 18px;
      // text-align:right !important;
      padding: 10px 0
  }
  .col-content{
      padding: 10px 0;
      font-size: 18px;
  }
  .ant-checkbox-wrapper{
      padding: 0 8px;
     .ant-checkbox-inner{
      transform: scale(1.5);
     }
  }
  .text-copy{
      cursor: pointer;
  }
  .text-copy:hover{
    color: green;
    opacity: 0.5;
    }
}